<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="AshaWeighing.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="_03_Onvif_Network_Video_Recorder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="AshaWeighing.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="_03_Onvif_Network_Video_Recorder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <legacyCorruptedStateExceptionsPolicy enabled="true"/>
  </runtime>
  <connectionStrings>
    <add name="AshaDbContext" connectionString="Data Source=172.20.1.30;Initial Catalog=AshaMES_PASCO_V03;Persist Security Info=True;User ID=sa;Password=Sa123456789"
      providerName="System.Data.EntityClient" />
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
    <AshaWeighing.Properties.Settings>
      <setting name="AppWindowLocation" serializeAs="String">
        <value>1, 1</value>
      </setting>
      <setting name="AppWindowSize" serializeAs="String">
        <value>800, 800</value>
      </setting>
      <setting name="AppWindowState" serializeAs="String">
        <value>Maximized</value>
      </setting>
      <setting name="SelectedConfiguration" serializeAs="String">
        <value>Conf_In60Tons</value>
      </setting>
    </AshaWeighing.Properties.Settings>
    <_03_Onvif_Network_Video_Recorder.Properties.Settings>
      <setting name="AppWindowLocation" serializeAs="String">
        <value>1, 1</value>
      </setting>
      <setting name="AppWindowSize" serializeAs="String">
        <value>800, 800</value>
      </setting>
      <setting name="AppWindowState" serializeAs="String">
        <value>Maximized</value>
      </setting>
      <setting name="SelectedSetting" serializeAs="String">
        <value>1</value>
      </setting>
    </_03_Onvif_Network_Video_Recorder.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <AshaWeighing.Properties.Settings>
      <setting name="ConfigStatus" serializeAs="String">
        <value />
      </setting>
    </AshaWeighing.Properties.Settings>
    <_03_Onvif_Network_Video_Recorder.Properties.Settings>
      <setting name="CameraIP11" serializeAs="String">
        <value>http://172.20.200.1/cgi-bin/viewer/video.jpg</value>
      </setting>
      <setting name="CameraIP12" serializeAs="String">
        <value>http://172.20.200.2/cgi-bin/viewer/video.jpg</value>
      </setting>
      <setting name="CameraIP13" serializeAs="String">
        <value>http://172.20.200.9/cgi-bin/viewer/video.jpg</value>
      </setting>
      <setting name="CameraIP14" serializeAs="String">
        <value>http://172.20.200.10/cgi-bin/viewer/video.jpg</value>
      </setting>
      <setting name="BascolPort1" serializeAs="String">
        <value>COM3</value>
      </setting>
      <setting name="CameraIP21" serializeAs="String">
        <value>http://172.20.200.3/cgi-bin/viewer/video.jpg</value>
      </setting>
      <setting name="CameraIP22" serializeAs="String">
        <value>http://172.20.200.4/cgi-bin/viewer/video.jpg</value>
      </setting>
      <setting name="CameraIP23" serializeAs="String">
        <value>http://172.20.200.11/cgi-bin/viewer/video.jpg</value>
      </setting>
      <setting name="CameraIP24" serializeAs="String">
        <value>http://172.20.200.12/cgi-bin/viewer/video.jpg</value>
      </setting>
      <setting name="BascolPort2" serializeAs="String">
        <value>COM6</value>
      </setting>
      <setting name="CameraIP31" serializeAs="String">
        <value>http://172.20.200.5/cgi-bin/viewer/video.jpg</value>
      </setting>
      <setting name="CameraIP32" serializeAs="String">
        <value>http://172.20.200.6/cgi-bin/viewer/video.jpg</value>
      </setting>
      <setting name="CameraIP33" serializeAs="String">
        <value>http://172.20.200.13/cgi-bin/viewer/video.jpg</value>
      </setting>
      <setting name="CameraIP34" serializeAs="String">
        <value>http://172.20.200.14/cgi-bin/viewer/video.jpg</value>
      </setting>
      <setting name="BascolPort3" serializeAs="String">
        <value>COM3</value>
      </setting>
      <setting name="CameraIP41" serializeAs="String">
        <value>http://172.20.200.7/cgi-bin/viewer/video.jpg</value>
      </setting>
      <setting name="CameraIP42" serializeAs="String">
        <value>http://172.20.200.8/cgi-bin/viewer/video.jpg</value>
      </setting>
      <setting name="CameraIP43" serializeAs="String">
        <value>http://172.20.200.15/cgi-bin/viewer/video.jpg</value>
      </setting>
      <setting name="CameraIP44" serializeAs="String">
        <value>http://172.20.200.16/cgi-bin/viewer/video.jpg</value>
      </setting>
      <setting name="BascolPort4" serializeAs="String">
        <value>COM5</value>
      </setting>
      <setting name="Setting1" serializeAs="String">
        <value>باسکول 60 تن ورودی</value>
      </setting>
      <setting name="Setting2" serializeAs="String">
        <value>باسکول 80 تن ورودی</value>
      </setting>
      <setting name="Setting3" serializeAs="String">
        <value>باسکول 60 تن خروجی</value>
      </setting>
      <setting name="Setting4" serializeAs="String">
        <value>باسکول 80 تن خروجی</value>
      </setting>
      <setting name="MachineCode1" serializeAs="String">
        <value>BS01</value>
      </setting>
      <setting name="MachineCode2" serializeAs="String">
        <value>BS03</value>
      </setting>
      <setting name="MachineCode3" serializeAs="String">
        <value>BS02</value>
      </setting>
      <setting name="MachineCode4" serializeAs="String">
        <value>BS04</value>
      </setting>
    </_03_Onvif_Network_Video_Recorder.Properties.Settings>
  </applicationSettings>
</configuration>
